# Setting Up Your Local SQL Learning Environment ðŸš€

This notebook will create a local SQLite database with sample data that we'll use throughout the course.
You only need to run this once to set up your learning environment.

In [ ]:
import sqlite3
import os
import pandas as pd

# Create the data directory if it doesn't exist
os.makedirs('../data', exist_ok=True)

# Connect to a new SQLite database
db_path = '../data/movies.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Create tables
cursor.executescript('''
-- Movies table
CREATE TABLE IF NOT EXISTS movies (
    movie_id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    release_year INTEGER,
    genre TEXT,
    rating FLOAT
);

-- Directors table
CREATE TABLE IF NOT EXISTS directors (
    director_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    nationality TEXT
);

-- Movie-Director relationship table
CREATE TABLE IF NOT EXISTS movie_directors (
    movie_id INTEGER,
    director_id INTEGER,
    FOREIGN KEY (movie_id) REFERENCES movies(movie_id),
    FOREIGN KEY (director_id) REFERENCES directors(director_id)
);
''')

# Insert sample data
cursor.executescript('''
-- Sample movies
INSERT INTO movies (movie_id, title, release_year, genre, rating) VALUES
    (1, 'The Matrix', 1999, 'Sci-Fi', 8.7),
    (2, 'Inception', 2010, 'Sci-Fi', 8.8),
    (3, 'Toy Story', 1995, 'Animation', 8.3),
    (4, 'Pulp Fiction', 1994, 'Crime', 8.9),
    (5, 'The Lion King', 1994, 'Animation', 8.5);

-- Sample directors
INSERT INTO directors (director_id, name, nationality) VALUES
    (1, 'Christopher Nolan', 'British'),
    (2, 'Quentin Tarantino', 'American'),
    (3, 'Lana Wachowski', 'American'),
    (4, 'John Lasseter', 'American');

-- Movie-Director relationships
INSERT INTO movie_directors (movie_id, director_id) VALUES
    (1, 3),  -- The Matrix - Lana Wachowski
    (2, 1),  -- Inception - Christopher Nolan
    (3, 4),  -- Toy Story - John Lasseter
    (4, 2);  -- Pulp Fiction - Quentin Tarantino
''')

conn.commit()
print(f"Database created successfully at {db_path}")

# Test the database
def test_query(query, description):
    print(f"\n{description}:")
    return pd.read_sql_query(query, conn)

# Run some test queries
print("\nTesting the database with some sample queries:")
test_query("SELECT * FROM movies", "All movies")
test_query("""
    SELECT m.title, d.name as director
    FROM movies m
    JOIN movie_directors md ON m.movie_id = md.movie_id
    JOIN directors d ON md.director_id = d.director_id
""", "Movies with their directors")

conn.close()
print("\nSetup complete! You can now start with the learning notebooks.")