# Getting Started with SQL ðŸš€

This notebook creates an in-memory database that we can practice with. No installation needed!

In [ ]:
import sqlite3
import pandas as pd

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create our movies table
cursor.execute('''
CREATE TABLE movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    release_year INTEGER,
    rating FLOAT
)''')

# Add some fun sample data
sample_movies = [
    (1, 'The Matrix', 1999, 8.7),
    (2, 'Inception', 2010, 8.8),
    (3, 'Toy Story', 1995, 8.3),
    (4, 'Avatar', 2009, 7.8),
    (5, 'The Lion King', 1994, 8.5)
]

cursor.executemany('INSERT INTO movies VALUES (?,?,?,?)', sample_movies)
conn.commit()

print("Database is ready! Let's start querying!")

## Try your first query! ðŸŽ¯

Let's see what movies we have in our database:

In [ ]:
# This helper function will make our query results look nice
def run_query(query):
    return pd.read_sql_query(query, conn)

# Try it out!
run_query('SELECT * FROM movies')

## Your turn! ðŸŒŸ

Can you write a query to find all movies released after 2000?

In [ ]:
# Write your query here:
query = '''
-- Your SQL code here
'''

run_query(query)