# Fun with SQL: Sorting and Limiting Results ðŸ”„

Welcome to your third SQL adventure! Today we'll learn how to:
- Sort our results using `ORDER BY`
- Limit the number of results using `LIMIT`
- Combine these with what we learned before

Let's start by connecting to our database:

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/movies.db')
pd.set_option('display.max_columns', None)

## ðŸŽ¯ Challenge 1: Sorting Movies by Rating

Let's find the highest-rated movies first! We can use `ORDER BY` to sort our results:
```sql
SELECT title, rating
FROM movies
ORDER BY rating DESC;  -- DESC means descending (highest to lowest)
```

ðŸ’¡ Use `ASC` for ascending order (lowest to highest) - this is actually the default if you don't specify!

In [ ]:
query = """
-- Write your ORDER BY query here
"""

pd.read_sql_query(query, conn)

## ðŸŽ¯ Challenge 2: Finding the Top 5 Movies

Sometimes we only want to see a few results. The `LIMIT` clause helps us with that:
```sql
SELECT title, rating
FROM movies
ORDER BY rating DESC
LIMIT 5;
```

Try finding the 3 most recent movies in our database!

In [ ]:
query = """
-- Write your query to find recent movies
"""

pd.read_sql_query(query, conn)

## ðŸŽ¯ Challenge 3: Multiple Sort Criteria

We can sort by multiple columns! This is useful when we want to sort by one thing, then another:
```sql
SELECT title, release_year, rating
FROM movies
ORDER BY release_year DESC, rating DESC;
```

This will sort by year first, then by rating within each year.

In [ ]:
query = """
-- Try writing a query that sorts by genre, then rating
"""

pd.read_sql_query(query, conn)

## ðŸŒŸ Bonus Challenge: Combining Everything

Can you write a query that:
1. Shows movies released after 2010
2. Orders them by rating (highest first)
3. Shows only the top 5?

Remember the order of clauses matters!
```sql
SELECT ... FROM ... WHERE ... ORDER BY ... LIMIT ...;
```

In [ ]:
query = """
-- Write your bonus challenge query here!
"""

pd.read_sql_query(query, conn)

## ðŸŽ‰ Fantastic work!

You've learned how to:
- Sort results using `ORDER BY`
- Use `ASC` and `DESC` for ascending/descending order
- Limit results using `LIMIT`
- Sort by multiple columns

In the next notebook, we'll learn about joining tables together!