# Getting Started with DuckDB ü¶Ü

Welcome to your first adventure with DuckDB! In this notebook, we'll:
- Connect to our database
- Explore the database structure
- Write some basic queries
- Insert new data
- Set up helper functions for future notebooks

DuckDB is an analytics-focused database that's perfect for learning SQL. It's fast, easy to use, and works great with Python!

In [ ]:
import duckdb
import pandas as pd

# Connect to our database
conn = duckdb.connect('../data/entertainment.db')

# This will make our query results look nice
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

## üîç Exploring Our Database

Let's see what tables we have in our database. DuckDB provides some special commands for this:

In [ ]:
# List all tables in our database
print("Available tables:")
conn.execute("SHOW TABLES").df()

Now let's look at the structure of our movies table:

In [ ]:
# Describe the movies table structure
print("Movies table structure:")
conn.execute("DESCRIBE movies").df()

## üõ†Ô∏è Creating a Helper Function

To make our future work easier, let's create a helper function to run queries:

In [ ]:
def run_query(query):
    """Execute a SQL query and return results as a pandas DataFrame"""
    try:
        result = conn.execute(query).df()
        return result
    except Exception as e:
        print(f"Error executing query: {str(e)}")
        return None

## üéØ Let's Try Some Queries!

Now that we're set up, let's try some basic queries:

In [ ]:
# Let's see the first few movies
query = """
SELECT *
FROM movies
LIMIT 5;
"""

run_query(query)

## üÜï Adding New Data

Let's try adding a new movie to our database:

In [ ]:
# Insert a new movie
insert_query = """
INSERT INTO movies (title, release_year, genre, director, rating)
VALUES ('The Super Mario Bros. Movie', 2023, 'Animation', 'Aaron Horvath', 7.1);
"""

conn.execute(insert_query)

# Let's verify it was added
verify_query = """
SELECT *
FROM movies
WHERE title = 'The Super Mario Bros. Movie';
"""

run_query(verify_query)

## üìä Quick Database Stats

Let's get some basic statistics about our database:

In [ ]:
# Count movies by genre
stats_query = """
SELECT genre, COUNT(*) as movie_count
FROM movies
GROUP BY genre
ORDER BY movie_count DESC;
"""

run_query(stats_query)

## üéâ Great Start!

You've learned how to:
- Connect to a DuckDB database
- Explore database structure
- Run basic queries
- Insert new data
- Use helper functions

DuckDB Features We Used:
- `SHOW TABLES`: Lists all tables
- `DESCRIBE`: Shows table structure
- Basic SQL commands (SELECT, INSERT)
- Integration with pandas DataFrames

In the next notebook, we'll dive deeper into writing more complex queries!