# Fun with SQL: Basic Queries ðŸŽ¬

Welcome to your second SQL adventure! Today we'll learn how to write basic queries using a fun movie database. 
Let's discover what movies and TV shows are in our collection!

First, let's set up our connection to the database:

In [ ]:
import sqlite3
import pandas as pd

# Connect to our movie database
conn = sqlite3.connect('../data/entertainment.db')

# This will make our query results look nice
pd.set_option('display.max_columns', None)

## ðŸŽ¯ Challenge 1: Your First SELECT Query

Let's start by looking at what's in our `movies` table. The `SELECT` statement is like asking the database "show me something!"

Try writing a query to see all movies in the database. Here's the template:
```sql
SELECT * FROM movies;
```

ðŸ’¡ The `*` means "everything". It's like saying "show me all columns"!

In [ ]:
# Your turn! Write the query:
query = """
-- Write your SELECT query here
"""

# This will run your query and show the results
pd.read_sql_query(query, conn)

## ðŸŽ¯ Challenge 2: Selecting Specific Columns

Sometimes we don't want to see everything - maybe we just want the movie titles and their release years.

Try writing a query that shows only the `title` and `release_year` columns:
```sql
SELECT column1, column2 FROM table_name;
```

In [ ]:
query = """
-- Write your query to select specific columns
"""

pd.read_sql_query(query, conn)

## ðŸŽ¯ Challenge 3: Finding Specific Movies

Let's find all movies directed by Steven Spielberg! For this, we'll use the `WHERE` clause:
```sql
SELECT * FROM movies WHERE director = 'Steven Spielberg';
```

Now it's your turn - try finding all movies released after 2020!

In [ ]:
query = """
-- Write your query to find recent movies
"""

pd.read_sql_query(query, conn)

## ðŸŒŸ Bonus Challenge: Combining What We Learned

Can you write a query that:
1. Shows only the title and rating
2. For movies released after 2015
3. That have a rating higher than 8.0?

Hint: Use `AND` to combine conditions!
```sql
SELECT ... FROM ... WHERE ... AND ...;
```

In [ ]:
query = """
-- Write your bonus challenge query here!
"""

pd.read_sql_query(query, conn)