# Fun with SQL: Joining Tables ü§ù

Welcome to your fourth SQL adventure! Today we'll learn about joining tables together.
Remember our database has tables for movies, directors, and their relationships.

Let's start with our usual setup:

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/movies.db')
pd.set_option('display.max_columns', None)

## üéØ Challenge 1: Your First JOIN

Let's find out which directors made which movies! We'll need to join the `movies`, `movie_directors`, and `directors` tables:

```sql
SELECT movies.title, directors.name
FROM movies
JOIN movie_directors ON movies.movie_id = movie_directors.movie_id
JOIN directors ON movie_directors.director_id = directors.director_id;
```

üí° This is called an "INNER JOIN" - it only shows matches that exist in both tables!

In [ ]:
query = """
-- Write your JOIN query here
"""

pd.read_sql_query(query, conn)

## üéØ Challenge 2: Using Table Aliases

We can make our queries shorter using aliases for table names:
```sql
SELECT m.title, d.name
FROM movies m
JOIN movie_directors md ON m.movie_id = md.movie_id
JOIN directors d ON md.director_id = d.director_id;
```

Try writing a query to show all movies and their genres using aliases!

In [ ]:
query = """
-- Write your query using table aliases
"""

pd.read_sql_query(query, conn)

## üéØ Challenge 3: LEFT JOIN

Sometimes we want to see ALL movies, even if they don't have a director assigned yet.
That's where LEFT JOIN comes in:

```sql
SELECT m.title, d.name
FROM movies m
LEFT JOIN movie_directors md ON m.movie_id = md.movie_id
LEFT JOIN directors d ON md.director_id = d.director_id;
```

Try finding all directors and their movies (even directors who haven't directed any movies yet)!

In [ ]:
query = """
-- Write your LEFT JOIN query here
"""

pd.read_sql_query(query, conn)

## üåü Bonus Challenge: Complex Joins

Can you write a query that:
1. Shows movie titles
2. Along with their director names
3. But only for movies with a rating above 8.0
4. Ordered by movie rating?

Hint: Combine JOINs with WHERE and ORDER BY!

In [ ]:
query = """
-- Write your complex JOIN query here!
"""

pd.read_sql_query(query, conn)

## üéâ Amazing progress!

You've learned how to:
- Join multiple tables using INNER JOIN
- Use table aliases to make queries cleaner
- Use LEFT JOIN to keep all records from the left table
- Combine JOINs with other SQL commands

In the next notebook, we'll learn about grouping and aggregating data!