# Fun with SQL: CTEs and Subqueries ðŸ§©

Welcome to your sixth SQL adventure! Today we'll learn about two powerful ways to break down complex queries:
- Common Table Expressions (CTEs)
- Subqueries

These techniques are super helpful when you need to analyze data in multiple steps!

Let's start with our database connection:

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/entertainment.db')
pd.set_option('display.max_columns', None)

## ðŸŽ¯ Challenge 1: Your First CTE

A Common Table Expression (CTE) is like creating a temporary view of your data. It starts with `WITH` and makes complex queries easier to read:

```sql
WITH high_rated_movies AS (
    SELECT *
    FROM movies
    WHERE rating > 8.0
)
SELECT title, rating
FROM high_rated_movies
ORDER BY rating DESC;
```

ðŸ’¡ CTEs make your queries more organized and easier to understand!

In [ ]:
query = """
-- Try writing a CTE that finds recent movies (after 2015)
-- Then select their titles and average rating
"""

pd.read_sql_query(query, conn)

## ðŸŽ¯ Challenge 2: Multiple CTEs

You can chain multiple CTEs together for more complex analysis:

```sql
WITH high_rated_movies AS (
    SELECT *
    FROM movies
    WHERE rating > 8.0
), 
actor_appearances AS (
    SELECT actor_id, COUNT(*) as num_movies
    FROM movie_actors
    WHERE movie_id IN (SELECT movie_id FROM high_rated_movies)
    GROUP BY actor_id
)
SELECT a.name, aa.num_movies
FROM actor_appearances aa
JOIN actors a ON aa.actor_id = a.actor_id
ORDER BY aa.num_movies DESC;
```

Try writing multiple CTEs to find genres with both high average ratings AND many movies!

In [ ]:
query = """
-- Write your multiple CTEs query here
"""

pd.read_sql_query(query, conn)

## ðŸŽ¯ Challenge 3: Subqueries

Subqueries are queries nested inside other queries. They're useful when you need to:
- Filter based on aggregated values
- Compare values to summary statistics
- Create derived columns

```sql
SELECT title, rating
FROM movies
WHERE rating > (
    SELECT AVG(rating)
    FROM movies
);
```

Try finding all movies with more reviews than average!

In [ ]:
query = """
-- Write your subquery here
"""

pd.read_sql_query(query, conn)

## ðŸŒŸ Bonus Challenge: Combining CTEs and Subqueries

Can you write a query that:
1. Uses a CTE to find movies with above-average ratings
2. Uses another CTE to count how many actors appeared in these movies
3. Uses a subquery to compare each movie's actor count to the overall average?

This kind of multi-step analysis is common in real-world data analysis!

In [ ]:
query = """
-- Write your complex query combining CTEs and subqueries!
"""

pd.read_sql_query(query, conn)

## ðŸŽ‰ Excellent work!

You've learned how to:
- Use CTEs to break down complex queries
- Chain multiple CTEs together
- Write subqueries for filtering and calculations
- Combine these techniques for advanced analysis

Tips for using CTEs and Subqueries:
- CTEs make queries more readable and maintainable
- Use CTEs when you need to reference the same intermediate result multiple times
- Subqueries are great for dynamic filtering and calculations
- Think about breaking complex analysis into smaller, logical steps

In the next notebook, we'll explore window functions for even more advanced analysis!